#dxt-seat-layout-cmp {
    ._11ZK {
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
._3AF7 {
    margin-bottom: 10px;
    float: left;
}
._HSH_ {
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid #979797;
    display: inline-block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
}
._HSH_2_ {
    position: relative;
    width: 18px;
    height: 45px;
    top: -26px;
    border: 1px solid #979797;
    display: inline-block;
    /* border-top-left-radius: 2px; */
    /* border-top-right-radius: 2px; */
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    background: #fff;
}
._HSH_2_.IlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_2_._1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
._HSH_2_ ._19QY {
    width: 12px;
    height: 3px;
    right: 2px;
    top: 4px;
    border: 1px solid #979797 !important;
    border-radius: 2px;
    /* border-left: none!important; */
}
._HSH_2_ ._1Zjt {
    position: absolute;
    border: 1px solid #979797;
}
._HSH_sl {
    position: relative;
    width: 40px;
    height: 18px;
    border: 1px solid #979797;
    display: inline-block;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    margin-right: 10px;
    cursor: pointer;
    background: #fff;
}
._HSH_ ._2CpW, ._HSH_ .U6x5, ._HSH_sl ._2CpW, ._HSH_sl .U6x5{
    width: 16px;
    height: 3px;
    right: -1px;
}
._HSH_ ._2CpW, ._HSH_sl ._2CpW {
    top: -4px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: none!important;
}
._HSH_ ._1Zjt, ._HSH_sl ._1Zjt {
    position: absolute;
    border: 1px solid #979797;
}
._HSH_ .U6x5, ._HSH_sl .U6x5 {
    bottom: -4px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none!important;
}
._HSH_ ._19QY, ._HSH_sl ._19QY {
    width: 3px;
    height: 12px;
    right: -4px;
    top: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: none!important;
}
._HSH_sl ._19QY {
    width: 3px;
    height: 12px;
    right: 5px;
    top: 2px;
    border: 1px solid #979797 !important;
    /* border-bottom-right-radius: 2px;
    border-top-right-radius: 2px; */
    border-radius: 2px;
    /* border-left: none!important; */
}


._HSH_.pXg8 {
    background: #ff8eb5;
    pointer-events: none;
}
._HSH_sl.pXg8 {
    background: #ff8eb5;
    pointer-events: none;
    border: #ff8eb5;
}
._HSH_sl.pXg8 ._19QY {
    width: 3px;
    height: 12px;
    right: 5px;
    top: 2px;
    border: 1px solid #e1326f !important;
    border-radius: 2px;
    /* border-left: none!important; */
}
._HSH_._39aI, ._HSH_._39aI span, ._HSH_.pXg8 ,._HSH_sl._39aI {
    border: 1px solid #ff8eb5;
}
._HSH_._39aI, ._HSH_._39aI span, ._HSH_.pXg8 {
    border: 1px solid #ff8eb5;
}
._HSH_.pXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
 }
._24SC {
    border: .5px solid #979797;
    min-height: 150px;
    padding: 0 20px 0 50px;
    position: relative;
    margin-bottom: 15px;
    max-width: 100%;
}
._3dJ4, ._3t06 {
    position: absolute;
    width: 60px;
    height: 25px;
    top: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    z-index: 23;
    color: #9b9b9b;
    background: #fafafa;
    letter-spacing: 1px;
}
._3dJ4 {
    left: -30px;
}
._3t06 {
    right: -30px;
}
._3dJ4, ._3t06 {
    position: absolute;
    width: 60px;
    height: 25px;
    top: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    z-index: 23;
    color: #9b9b9b;
    background: #fafafa;
    letter-spacing: 1px;
}
._21yR {
    position: absolute;
    /*top: 3.5em;*/
    left: 12px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #9b9b9b;
    border: 2px solid #686868;
}
.ZUCx {
    width: 50px;
    height: 40px;
    position: absolute;
    bottom: 30px;
    left: 7px;
    color: #9b9b9b;
    font-weight: 600;
    text-transform: uppercase;
}
.H6G9 {
    overflow-y: auto;
    padding-left: 5px;
    padding-right: 5px;
    padding: 15px 20px 0 0;
}
._HSH_._1LG_, ._HSH_sl._1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
._HSH_._1LG_ span, ._HSH_sl._1LG_ span{
    background: #fff;
    border: 1px solid #20bf7a;
}
.fare-filter{
	float: left;
	list-style: none;
	padding: 15px 0;
    padding-top: 0;
	margin: 0;
}
.fare-filter li{
  border-radius: 10%;
  border: 1px solid #979797;
  padding: 2px 15px 2px 15px;
  /* padding-top: 11px; */
  float: left;
  /* height: 45px; */
  width: auto;
  margin-right: 12px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
div#lower ,  div#upper {
    /*-ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 13em;
    position: absolute;*/

    /*width: 75%;*/
    position: relative;
    max-width: 100%;
    float: left;
    margin-top: 16px;
    padding: 15px 0;
    border: 1px solid #d5d6d7;
    border-left: 5px solid #b8b9ba;
    /*border-radius: 10px;*/
}
div#lower {
    margin-top: 0;
}
.seats_row{
	margin-left: 3em;
	float: left;
	border-left: 1px solid #d5d6d7;
}
.activeli{
	background-color: #333;
	color: #fff;
}
._HSH_.IlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_sl.IlqM
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}

._HSH_.IlqMQ {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}

._HSH_sl.IlqMQ
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_2_.IlqMQ
{
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
/* ------------------------ */
/* CODE FOR HOVER TOOL-TIPS */
/* ------------------------ */

[data-hover] {
  position: relative;
}

[data-hover]:after {
  box-sizing: border-box;
  position: absolute;
  color: #000;
  max-width: 200px;
  min-width: 150px;
  /*width: 100%;*/
  padding: 5px 10px;
  font-size: 10px;
  content: attr(data-hover);
  transition: 0.3s ease-out;
  opacity: 0;
  text-align: center;
  border-radius: 0;
  z-index: 9999;
  pointer-events: none;
}
._NO_SEAT_{
	visibility: hidden;
	margin-bottom: 5px;
  float: left;
	/*pointer-events: none;*/
}
._no_hd_{
	display: none;
	pointer-events: none;
}

[data-hover]:hover:after, [data-hover]:focus:after{
  opacity: 1;
}

/*
   Color styles for tooltips
   CHANGE HOWEVER YOU WANT
*/

[data-hover].tt-default:after {
  background: #fff;
  border: 1px solid #212121;
}

/* Style for tooltop that will slide to top */

[data-hover].hover-tt-top:after {
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 0%);
}

[data-hover].hover-tt-top:hover:after ,[data-hover].hover-tt-top:focus:after{
  bottom: calc(100% + 10px);
}

/* legend seats */
 .legand-seats{
    padding: 15px 0 0 0;
    margin-left: 2.5em;
  }
  .legend-text{
    display: block;
    color: gray;
    font-size: 0.8em;
    text-align: center;
  }
    .l_3AF7  {
      margin-bottom: 5px;
     /*float: left;*/
     text-align: center;
  }
  ._HSH_.l_1LG_ {
    background: #20bf7a;
    border: 1px solid #20bf7a;
}
._HSH_.lIlqM {
    background: #c1c1c1;
    border: 1px solid #c1c1c1;
    pointer-events: none;
}
._HSH_.lpXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
 }
 ._HSH_.lpXg8 {
    border: 1px solid #ff8eb5;
}
._HSH_.lpXg8 span {
    background: #fff;
    border: 1px solid #ff8eb5;
}
._HSH_.lpXg8 {
    background: #ff8eb5;
    pointer-events: none;
}
._HSH_.l_39aI, ._HSH_.l_39aI span, ._HSH_.lpXg8 {
    border: 1px solid #ff8eb5;
}
}